<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.crud.day7.dao.Day7DAO">
 	<insert id="addDay7">
	 	INSERT INTO `day_7`
	 	(
	 		 loginId
			 ,password
			 ,name
			 ,birth
			 ,gender
			 ,phoneNumber
			 ,address
			 ,highSchool
			 ,major
			 ,mainTechnology
			 ,awards
			 ,militarySerivice
			 ,hopeSalary
			 ,createdAt
			 ,updatedAt
	 	)
	 	VALUES
	 	(
	 		#{loginId}
	 		,#{password}
	 		,#{name}
	 		,#{birth}
	 		,#{gender}
	 		,#{phoneNumber}
	 		,#{address}
	 		,#{highSchool}
	 		,#{major}
	 		,#{mainTechnology}
	 		,#{awards}
	 		,#{militarySerivice}
	 		,#{hopeSalary}
	 		,NOW()
	 		,NOW()
	 	)
 	</insert>
 	<update id="updateDay7">
	 	UPDATE `day_7`
	 	SET
	 		 loginId =#{loginId}
			 ,password =#{password}
			 ,name =#{name}
			 ,birth =#{birth}
			 ,gender =#{gender}
			 ,phoneNumber =#{phoneNumber}
			 ,address =#{address}
			 ,highSchool =#{highSchool}
			 ,major =#{major}
			 ,mainTechnology =#{mainTechnology}
			 ,awards =#{awards}
			 ,militarySerivice =#{militarySerivice}
			 ,hopeSalary =#{hopeSalary}
			 ,updatedAt =NOW()
		WHERE
			id = #{id}
 	</update>
 	<select id="getDay7List" resultType="com.crud.day7.vo.Day7">
 	SELECT *
 	FROM `day_7`
 	</select>
 	<select id="getDay7" resultType="com.crud.day7.vo.Day7">
 	SELECT *
 	FROM `day_7`
 	WHERE id = #{id}
 	</select>
 	<delete id="deleteDay7">
 	DELETE
 	FROM `day_7`
 	WHERE id = #{id}
 	</delete>
 </mapper>